* {
	list-style:none;
	border:0;
	text-decoration:none;
	margin:0;
	padding:0;
	outline:0;
}

html, body {
	height:100%;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	background-color:rgb(69, 67, 67);
}

html {
	font-size:62.5%;
	}

body {
	font-family:'Roboto', Arial, Helvetica, sans-serif;
	font-size:1.3em;
	font-variant:normal;
	font-style:normal;
	text-align:left;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	color:#fff;
}

@mixin roundedBtnCornersAll {
	-webkit-border-radius:8px;
	-moz-border-radius:8px;

	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

h1 {
	font-size:32px;
}

a {
	position: relative;
	color: #fff;
}

p {
	font-size:inherit;
}

ul {
	font-size:inherit;
}

.main-nav:after {
	content: '';
	clear: both;
	display: table;
}

.main-nav {
	position:relative;
	width:100%;
	margin-bottom:30px;

	li {
		position: relative;
		display: block;
		float: right;
		border-left: 1px solid rgb(69, 67, 67);

		&:last-child {
			border-left:none;
		}
	}

	a {
		position: relative;
		color:#fff;
		font-size:1.3em;
		cursor: pointer;
		display:block;
		padding: 0 25px;
		line-height: 2.75;
		text-align: center;
		background-color: #4e4e4e;
		-webkit-transition: background 0.25s ease-out;
		-moz-transition: background 0.25s ease-out;
		-o-transition: background 0.25s ease-out;
		transition: background 0.25s ease-out;

		&:hover {
			background-color:#666;
		}

		&#primary-buy-btn,
		&#primary-buy-btn:hover {
			opacity: 1;
			background-color: tomato;
			color:#fff;

		}

		&#primary-buy-btn:hover {
			text-decoration: underline;
		}

	}
}

.page {
	position: relative;
	width:940px;
	margin: 0 auto;
	padding:0 25px 0 25px;
}

.panel {
	position: relative;
	width:100%;
	margin:auto;
	padding:200px 0 200px;
	text-align:center;
	opacity:0;
	display:none;
}

#home {
	background-color:#333;
}

#panel2 {
 	background-color:#555;
}

#panel3 {
 	background-color:#777;
}

.contact {
	width:100%;
	margin:auto;
	padding:100px 0 100px 0;
	background-color: transparent;
	color:#fff;
	font-size: 1.6em;

	li {
		text-align: center;
	}

	.email {
		color: tomato;
		cursor:pointer;

		&:hover {

		}
	}
}

.footer {
	padding:15px 0 50px 0;
}

.copyright	{
	position:relative;
	width:100%;
	text-align: center;
	color:#B6BAA7;

	a {
		text-decoration: underline;
		cursor: pointer;
		color:tomato;
		font-size: inherit;
		display: inline;

		&:hover {
			text-decoration: none;

		}
	}

	li {
		width:100%;
		padding-top:3px;
		font-size: .7em;
	}
}
